<main class="main-grid">
	<div class="link">
		<a href="{{link}}" target="_blank" class="name">{{name}}</a>
	</div>
	<div class="desc">
		<img src="{{img}}" class="img">
		<p class="text">{{text}}</p>
	</div>
	<button class="btn-delete">delete</button>
</main>
